<meta charset="UTF-8" />
<div ui-content-for="title">
  <span>活动</span>
</div>

<div class="scrollable" style="background-color: white"
	ng-controller="actiCtrl">
	<div class="scrollable-content">
		<!-- <table class="table table-bordered">
			      
			<tr ng-repeat="acti in listActivity">
			<div class="panel-body">
				<td>
					<dl>
						<dt>{{acti.editor}}</dt>
						<dd>{{acti.details}}</dd>
						<dd>{{acti.starttime}}</dd>
					</dl>
				</td>
				</div>
			</tr>
			<tr>
			<td>&nbsp;</td>
			</tr>
		</table> -->
		<div class="panel panel-default" style="margin: 1em 1em 1em 1em" ng-repeat="acti in listActivity">
			<div class="panel-heading">
				<h3 class="panel-title">{{acti.editor}}</h3>
			</div>
			<div class="panel-body">
				{{acti.details}}<br /> {{acti.starttime}}
			</div>
		</div>
		<div>
		&nbsp;<br/><br>
		</div>
	</div>
	
</div>

