<div ui-content-for="title">
	<span>活动发布</span>
</div>

<div class="scrollable">
	<div class="scrollable-content section" ng-controller="releaseCtrl">

		<form role="form" ng-submit='release(activity)'>
			<fieldset>
				<legend><!-- 登录 --></legend>
				<div class="form-group has-success has-feedback">
					<label>分享者</label> 
					<input type="text" ng-model="activity.share"
						class="form-control" placeholder="请输入活动分享者名字">
				</div>
				
				<div class="form-group has-success has-feedback">
					<label>活动内容</label>
					<textarea class="form-control" rows="5" name="detail" ng-model="activity.detail"
                                  placeholder="请输入活动详情" required></textarea>
				</div>
				
				<div class="form-group has-success has-feedback">
					<label>活动时间</label>
					<input type="text" ng-model="activity.time"
						class="form-control" placeholder="请输入活动时间">
				</div>
				
				<div class="form-group has-success has-feedback">
				</div>
				<!--  <div class="form-group">
                    <label class="col-md-2 control-label">产品详情：</label>
                    <div class="col-md-8">
                        <textarea class="form-control" rows="5" name="detail" ng-model="products.detail"
                                  placeholder="请输入产品详情" required></textarea>
                    </div>
                </div> -->

			</fieldset>
			<hr>

			<button class="btn btn-primary btn-block">发布</button>

			<div class="form-group has-success has-feedback">
				</div>

		</form>
	</div>
</div>
